body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

svg {
    width: 24px;
    height: 24px;
}

a {
    color: black;
}

a:hover {
    color: black;
}

label {
    position: absolute;
}

.status-bar {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100vw;
    height: 38px;
}

.status-bar__element {
    display: flex;
    justify-content: center;
    width: 25vh;
    line-height: 38px;
}

.status-bar__element a {
    color: white;
    font-size: 12px;
}

.status-bar__icon {
    color: white;
    width: 17px;
    height: 17px;
    margin: auto 1vh;
}

/* -----    -----   -----   ----- */
.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
}

.svg_menu {
    position: fixed;
    background-color: transparent;
    border: none;
    margin: 10px 0px auto 0px;
}

.svg_menu:focus {
    outline: none;
}

.top-menu__element {
    margin-top: 4vh;
}

.top-menu__element a {
    color: black;
    font-weight: bold;
    line-height: 5vh;
    font-size: 15px;
}

.top-start {
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding-right: 2vh;
}

.top-middle {
    width: 680px;
    height: 55px;
    margin-top: -1vh;
    margin-right: -25vh;
    margin-left: 1vh;
    padding: 15px 15px 15px 60px;

    border-radius: 28px;
    border: none;
    outline: none;
    background-color: whitesmoke;
}

.searchbar {
    width: 720px;
    display: grid;
    grid-template-columns: 15px 630px 15px;
    line-height: 50px;
}

.search {
    position: relative;
    margin-left: 45px;
}

.top-end {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 192px;
}

.minimenu {
    display: none;
}

/* 프로모션 */
#promotion {
    margin: 20px 0px 0px 84px;
    width: 1300px;
    height: 840px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#promotion::-webkit-scrollbar {
    height: 2px;
    background-color: #d6d6d6;
}

#promotion::-webkit-scrollbar-thumb {
    background-color: black;
}
#promotion a {
    color: black;
    text-decoration: none;
}

#promotion svg {
    width: 24px;
    height: 24px;
}

.promotion_title {
    margin-bottom: 32px;
    font-weight: bold;
}

.cards_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.promotion_card {
    width: 410px;
    height: 742px;
    margin-right: 30px;
}

.promotion_card:hover h4 {
    text-decoration: underline;
}

.promotion_card h4 {
    font-weight: bold;
}

.promotion_card p {
    font-size: 17px;
}

.promotion_card_flex {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.promotion_img {
    width: 410px;
    height: 410px;
}

.promotion_firstcard {
    background-color: #9E7A71;
    height: 330px;
    padding: 32px;
}

.promotion_secondcard {
    background-color: #4c6485;
    height: 330px;
    padding: 32px;
    color: white;
}

.promotion_thirdcard {
    background-color: #64BAD8;
    height: 330px;
    padding: 32px;
}

.promotion_fourthcard {
    background-color: rgba(245, 245, 245, 1);
    height: 330px;
    padding: 32px;
}

.card_ment {
    margin: 0px;
    line-height: 25px;
    height: 170px;
}

.next_btn_black {
    color: white;
    width: 56px;
    height: 56px;
    background-color: black;
    line-height: 68px;
    text-align: center;
    border-radius: 50%;
}

.next_btn_white {
    color: black;
    width: 56px;
    height: 56px;
    background-color: white;
    line-height: 68px;
    text-align: center;
    border-radius: 50%;
}

.moveleft {
    color: white;
    width: 45px;
    height: 45px;
    background-color: black;
    line-height: 56px;
    text-align: center;
    border-radius: 50%;
    margin-left: 60px;
    position: relative;
    float: left;
    bottom: 430px;
    display: none;
}

.moveright {
    color: white;
    width: 45px;
    height: 45px;
    background-color: black;
    line-height: 56px;
    text-align: center;
    border-radius: 50%;
    position: relative;
    float: right;
    bottom: 430px;
    margin-right: 30px;
    display: none;
}


/* 솔루션 시작 */
.solution {
    margin-left: 11vh;
    margin-top: 20px; /*임시*/
    width: 1300px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.solution-box {
    display: flex;
    flex-direction: row;
    height: 400px;
    margin-top: 40px;
}

.solution-card {
    width: 240px;
    height: 320px;
    margin-top: 30px;
}

.solution-cards {
    margin-left: 30px;
    position: relative;
}

.solution-btn {
    position: absolute;
    color: black;
    width: 150px;
    height: 40px;
    margin-top: 280px;
    margin-left: -200px;
    background-color: whitesmoke;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 100px;
    padding: 5px 25px 20px 20px;
}
.solution::-webkit-scrollbar {
    height: 2px;
    background-color: #d6d6d6;
}

.solution::-webkit-scrollbar-thumb {
    background-color: black;
}

/* ----- 추천 제품 ----- */
.recommendation-wrap {
    display: block;
    width: 90%;
    margin-left: 15vh;
    margin-top: 10vh;
}

.recommendation-box {

}

.recommendation-subtitle {
    font-size: 26px;
    font-weight: bold;
}

.recommendation-product {
    margin-top: 5vh;
    margin-left: 3vh;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;

}

.product-list {

}

.recommendation-product__img {
    display: block;
    width: 100%;
}

.wish-btn__div {
    display: block;
}

.wish-btn {
    display: block;
    position: relative;
    width: 40px;
    /*float: right;*/
    margin-left: 27vh;
    border: none;
    background-color: transparent;
    color: lightgrey;
    cursor: pointer;
    visibility: hidden;
}

.wish-btn:hover {
    color: black;
}

.cart-btn {
    display: block;
    position: relative;
    width: 40px;
    /*float: right;*/
    /*margin-top: 20vh;*/
    margin-left: 27vh;
    padding-top: 7px;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: #0058a3;
    cursor: pointer;
    visibility: hidden;
}

.cart-btn:hover {
    background-color: darkblue;
}

.wish-btn__div:hover > button {
    visibility: visible;
}

.product-img {
    display: block;
    margin-left: 2vh;
}

.product-information {

}

.product-desc a {
    text-decoration: none;
    color: black;
}

.product-desc p {
    margin: 0;
    padding: 0;
}

.product-name {
    font-weight: bold;
    font-size: 14px;
}

.product-name:hover {
    text-decoration: underline;
}

.product-size {
    font-size: 15px;
}

.product-price {
    font-weight: bold;
    font-size: 20px;
}

.product-option {
    font-size: 12px;
}

.recommendation-product::-webkit-scrollbar {
    background-color: lightgrey;
    height: 3px;
}

.recommendation-product::-webkit-scrollbar-thumb {
    background-color: black;
}

/* ----- 추천 제품 끝 ----- */
/*footer*/
/*footer*/
footer {
    height: 754px;
    background-color: #f5f5f5;
    padding: 4rem 0 0 0;
    font-size: 14px;
}

h3 {
    font-size: 1.375rem;
    font-weight: bold;
}

#footer {
    width: 1300px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn_family {
    border-radius: 40px;
    border: none;
    color: white;
    background-color: black;
    width: 150px;
    height: 45px;
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
}

.title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 25px;
}