body {
    margin: 0;
    padding: 0;
}

svg {
    width: 24px;
    height: 24px;
}

label {
    position: absolute;
}

.status-bar {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100vw;
    height: 38px;
}

.status-bar__element {
    display: flex;
    justify-content: center;
    width: 25vh;
    line-height: 38px;
}

.status-bar__element a {
    color: white;
    font-size: 12px;
}

.status-bar__icon {
    color: white;
    width: 17px;
    height: 17px;
    margin: auto 1vh;
}

/* -----    -----   -----   ----- */
.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
}

.svg_menu {
    position: fixed;
    background-color: transparent;
    border: none;
    margin: 10px 0px auto 0px;
}

.svg_menu:focus {
    outline: none;
}

.top-menu__element {
    margin-top: 4vh;
}

.top-menu__element a {
    color: black;
    font-weight: bold;
    line-height: 5vh;
    font-size: 15px;
}

.top-start {
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding-right: 2vh;
}

.top-middle {
    width: 680px;
    height: 55px;
    margin-top: -1vh;
    margin-right: -25vh;
    margin-left: 1vh;
    padding: 15px 15px 15px 60px;

    border-radius: 28px;
    border: none;
    outline: none;
    background-color: whitesmoke;
}

.searchbar {
    width: 720px;
    display: grid;
    grid-template-columns: 15px 630px 15px;
    line-height: 50px;
}

.search {
    position: relative;
    margin-left: 45px;
}

.top-end {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 192px;
}

.minimenu {
    display: none;
}
/* 솔루션 시작 */
.solution{
    margin-left: 11vh;
    margin-top: 20px; /*임시*/
    width: 1300px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.solution-box{
    display: flex;
    flex-direction: row;
    height: 400px;
    margin-top: 40px;
}
.solution-card {
    width: 240px;
    height: 320px;
    margin-top: 30px;
}
.solution-cards{
    margin-left: 30px;
    position: relative;
}
.solution-btn{
    position: absolute;
    color: black;
    width: 150px;
    height: 40px;
    margin-top: 280px;
    margin-left: -200px;
    background-color: whitesmoke;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 100px;
    padding: 5px 25px 20px 20px;
}