body {
    width: 100vw;
}

#allproducts {
    display: none;
}

#showroom {
    display: none;
}

.menu {
    display: none;
}

.top-start {
    width: 50px;
    padding-right: 2vh;
}

.delivery {
    display: none;
}

.minimenu {
    display: block;
    margin-top: 0px;
}

/*---------------------------------*/
.none{
    display: none;
}
#letin {
    padding: 130px auto;
    width: 1200px;
    display: flex;
    flex-direction: row;
}
.right {
    width: 400px;
    margin-left: 60px;
}

.wide {
    width: 500px;
}

footer {
    width: 1200px;
}

#footer {
    width: 1200px;
    display: flex;
    flex-direction: row;
}