body {
    margin: 0;
    padding: 0;
}

.status-bar {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 38px;
}

.status-bar__element {
    display: flex;
    justify-content: center;
    width: 25vh;
    line-height: 38px;
}

.status-bar__element a {
    color: white;
    font-size: 12px;
}

.status-bar__icon {
    color: white;
    width: 17px;
    height: 17px;
    margin: auto 1vh;
}
/* -----    -----   -----   -----   -----*/
.top-menu {
    /*background-color: #0058a3;*/
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.top-menu__element {
    display: flex;
    justify-content: center;
    width: 33%;
    margin-top: 4vh;
}

.top-menu__element a {
    color: black;
    font-weight: bold;
    line-height: 5vh;
    font-size: 15px;
}

.top-start {

    justify-content: space-between;
    padding-right: 2vh;
    padding-left: 4vh;
    width: 600px;
}

.top-middle {
    width: 670px;
    height: 55px;
    margin-top: -1vh;
    margin-right: -25vh;
    margin-left: 5vh;
    padding: 15px 15px 15px 60px;

    border-radius: 28px;
    border: none;
    outline: none;
    background-color: whitesmoke;
}

.top-end {
    justify-content: flex-end;
    padding-right: 2vh;
}

.top-menu__icon {
    margin: 1vh 2vh;
    width: 24px;
    height: 24px;
}

.searchbar {
    width: 720px;
    display:grid;
    grid-template-columns: 15px 630px 15px;
    line-height: 50px;
}

.search {
    position: relative;
    margin-left: 75px;
    width: 24px;
    height: 24px;
}

.camera {
    width: 24px;
    height: 24px;
    margin-left: 40px;
    margin-top: 5px;
}
/*----- -----   -----   -----   -----*/
/* 사이드 메뉴 */
#menu-btn {
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    top: 2px;
    left: 15px;

    border: none;
    border-radius: 50%;
    outline: none;
    background-color: transparent;
}

#menu-btn:hover {
    background-color: whitesmoke;
}
#menu-btn:focus {
    background-color: lightgray;
}

.menu-btn__icon {
    width: 22px;
    height: 22px;
    margin: 5px 0 0 1px;
}
/*----- -----   -----   -----   -----*/
.list-wrap {
    display: grid;
    /*background-color: whitesmoke;*/

    margin-left: 15vh;
    margin-top: 6vh;
    margin-right: 4vh;
}

.list-header {
    /*background-color: lightyellow;*/
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.list-first {
    display: flex;
}

.list-header__title {
    font-size: 14px;
    font-weight: bold;
    color: #353b48;
    margin-right: 7px;
}

.selected-list {
    background-color: #dff9fb;
    color: #1e3799;
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    margin-top: -6px;
}

a:hover {
    color: black;
}

.count-list {
    font-size: 12px;
}

.list-icon {
    width: 24px;
    height: 24px;
    margin-top: 5px;
}

.list-btn {
    position: relative;
    float: right;
    margin-top: -5vh;

    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: transparent;
}

.list-btn:hover {
    background-color: whitesmoke;
}

.list-btn:focus {
    background-color: lightgrey;
}

.item-content {
    background-color: whitesmoke;
    width: 100%;
    height: 32vh;
    margin-top: 2vh;
}

#creat-list {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50px;
    color: white;
    background-color: black;
    font-weight: bold;

    width: 200px;
    height: 55px;
    margin-top: 5vh;
    line-height: 55px;
}

.creat-btn_icon {
    position: relative;
    width: 28px;
    height: 28px;
    top: 7px;
    right: 5px;
}
/*----- -----   -----   -----   -----*/
.bottom-menu-wrap {
    display: grid;
    background-color: whitesmoke;

    margin-top: 15vh;
}

@media screen and (max-width: 1200px) {
    body {
        width: 100vw;
    }

    .top-menu {
        display: flex;

    }

    #menu-btn {
        margin-left: -6vh;
    }

    .top-middle {
        margin-left: -3vh;
    }

    .search {
        margin-left: 2vh;
    }

    .camera {
        margin-left: -3vh;
    }
}

