body {
    margin: 0;
    padding: 0;
}

.status-bar {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 38px;
}

.status-bar__element {
    display: flex;
    justify-content: center;
    width: 25vh;
    line-height: 38px;
}

.status-bar__element a {
    color: white;
    font-size: 12px;
}

.status-bar__icon {
    color: white;
    width: 17px;
    height: 17px;
    margin: auto 1vh;
}
/* -----    -----   -----   -----   -----*/
.top-menu {
    /*background-color: #0058a3;*/
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.top-menu__element {
    display: flex;
    justify-content: center;
    width: 33%;
    margin-top: 4vh;
}

.top-menu__start {
    display: flex;
    justify-content: space-between;
    width: 40vh;
    margin-left: 10vh;
}

.top-menu__element a {
    color: black;
    font-weight: bold;
    line-height: 5vh;
    font-size: 15px;
}

.top-start {

    justify-content: space-between;
    padding-right: 2vh;
    padding-left: 4vh;
    width: 600px;
}

.top-middle {
    width: 670px;
    height: 55px;
    margin-top: -1vh;
    margin-right: -25vh;
    margin-left: 5vh;
    padding: 15px 15px 15px 60px;

    border-radius: 28px;
    border: none;
    outline: none;
    background-color: whitesmoke;
}

.top-end {
    justify-content: flex-end;
    padding-right: 2vh;
}

.top-menu__icon {
    margin: 1vh 2vh;
    width: 24px;
    height: 24px;
}

.searchbar {
    width: 720px;
    display:grid;
    grid-template-columns: 15px 630px 15px;
    line-height: 50px;
}

.search {
    position: relative;
    margin-left: 75px;
    width: 24px;
    height: 24px;
}

.camera {
    width: 24px;
    height: 24px;
    margin-left: 40px;
    margin-top: 5px;
}
/*----- -----   -----   -----   -----*/
/* 사이드 메뉴 */
#menu-btn {
    position: fixed;
    cursor: pointer;
    width: 40px;
    height: 40px;

    border: none;
    border-radius: 50%;
    outline: none;
    background-color: transparent;
}

#menu-btn:hover {
    background-color: whitesmoke;
}
#menu-btn:focus {
    background-color: lightgray;
}

.menu-btn__icon {
    width: 22px;
    height: 22px;
    margin: 5px 0 0 1px;
}
/*----- -----   -----   -----   -----*/
.list-wrap {
    display: grid;
    margin-left: 15vh;
    margin-top: 6vh;
    margin-right: 4vh;
}

.list-header {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.list-first {
    display: flex;
}

.list-header__title {
    font-size: 14px;
    font-weight: bold;
    color: #353b48;
    margin-right: 7px;
}

.selected-list {
    background-color: #dff9fb;
    color: #1e3799;
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    margin-top: -6px;
}

a:hover {
    color: black;
}

.count-list {
    font-size: 12px;
}

.list-icon {
    width: 24px;
    height: 24px;
    margin-top: 5px;
}

.list-btn {
    position: relative;
    float: right;
    margin-top: -5vh;

    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: transparent;
}

.list-btn:hover {
    background-color: whitesmoke;
}

.list-btn:focus {
    background-color: lightgrey;
}

.item-content {
    background-color: whitesmoke;
    width: 100%;
    height: 32vh;
    margin-top: 2vh;
}

#creat-list {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50px;
    color: white;
    background-color: black;
    font-weight: bold;

    width: 200px;
    height: 55px;
    margin-top: 5vh;
    line-height: 55px;
}

.creat-btn_icon {
    position: relative;
    width: 28px;
    height: 28px;
    top: 7px;
    right: 5px;
}

#creat-list:hover {
    background-color: #2d3436;
}
/*----- -----   -----   -----   -----*/
/*footer*/
footer {
    margin-top: 15vh;
    height: 754px;
    background-color: #f5f5f5;
    padding: 4rem 0 0 0;
    font-size: 14px;
}

h3 {
    font-size: 1.375rem;
    font-weight: bold;
}

#footer {
    width: 1300px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn_family {
    border-radius: 40px;
    border: none;
    color: white;
    background-color: black;
    width: 150px;
    height: 45px;
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
}

.title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 25px;
}

#footer span {
    color: black;
}
/*----- -----   -----   -----   -----*/
/* 왼쪽 메뉴 */
.left-menu {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    width: 0;
    height: 100%;
    transition: 0.2s;
    overflow-x: hidden;
}

.left-close {
    cursor: pointer;
    border: none;
    background-color: white;
    padding-top: 4px;
}
.left-close:hover {
    border-radius: 50%;
    background-color: whitesmoke;
}

.left-menu__icon {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 3vh 0 8vh 7vh;
}

.left-menu__link {
    /*width: 50%;*/
    margin: auto;
}

.left-menu__top {
    font-size: 36px;
    font-weight: bold;
}
.left-menu__middle {
    font-size: 15px;
    font-weight: bold;
}
.left-menu__bottom {
    margin-top: 6vh;
    font-size: 15px;
}
.left-menu__bottom p {
    margin-bottom: 1vh;
}

.left-menu__language {
    margin-top: 10vh;
    width: 200px;
    display: flex;
    justify-content: space-around;
}
.language {
    border: lightgrey solid 1px;
    border-radius: 20px;
    padding: 10px;
    width: 95px;
    font-size: 13px;
    font-weight: bold;
}
.country {
    width: 95px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 13px;
    border: lightgrey solid 1px;
    border-radius: 20px;
}
/* 왼쪽 메뉴 끝 */
/* 오른쪽 메뉴 */
.right-menu {
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 0;
    height: 100%;
    overflow-x: hidden;
    transition: 0.2s;
    position: fixed;
    right: 0;
}

.right-menu__icon {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.right-back {
    border: none;
    border-radius: 50%;
    background-color: transparent;
    padding-top: 5px;
    cursor: pointer;
}
.right-close {
    border: none;
    border-radius: 50%;
    background-color: transparent;
    padding-top: 5px;
    cursor: pointer;
}
.right-menu__icon button:hover {
    background-color: whitesmoke;
}

.right-menu__title {
    padding: 30px;
}
.right-menu__title h3 {
    font-size: 26px;
}

.right-menu__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    margin-top: -3vh;
}

.right-menu__item {
    display: flex;
    flex-direction: row;
}
.right-menu__item a {
    font-weight: bold;
    font-size: 15px;
    color: black;
}
.right-menu__selected {
    color: #005399;
    background-color: #dff9fb;
    font-weight: bold;
    font-size: 15px;
    padding: 7px;
    margin-left: 1vh;
}
.right-menu__count {
    font-size: 12px;
}

.list-copy {
    cursor: pointer;
    border: none;
    border-radius: 50%;
    padding: 10px 13px;
    background-color: transparent;
}
.list-copy:hover {
    background-color: whitesmoke;
}

#list-content {
    background-color: whitesmoke;
    width: 90%;
    height: 30vh;
    margin: 0 auto;
    cursor: pointer;
}

#change-wrap {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
}
#list-form {
    width: 300px;
    outline: none;
    border: none;
    border-bottom: black solid 1px;
}
#list-form:focus {
    border-bottom: #1e3799 solid 2px; !important;
}

.change-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 110px;
}
.change-icon button {
    border: none;
    border-radius: 50%;
    padding: 12px 15px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}
.change-icon button:hover {
    background-color: whitesmoke;
}



/*----- -----   -----   -----   -----*/
@media screen and (max-width: 1200px) {
    body {width: 100vw;}
    .status-bar {width: 100%;}
    .top-menu {display: flex;}
    .top-menu__start {margin-left: 10vh;}
    #menu-btn {margin-left: -2vh;}
    .top-middle {margin-left: -2vh; width: 85vh}
    .search {margin-left: 2vh;}
    .camera {margin-left: -23vh;}
    #footer {width: 100%;}
    .top-end {margin-left: -20vh;}
}

