<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/cart.css">
    <title>장바구니 페이지 </title>
</head>
<body>
<div class="top-messages-wrap">
    <div class="top-messages">
    <a>
        <span class="message-text corona">코로나 19 대응 공지</span>
    </a>
    <a>
        <span class="message-text call">비대면 전화주문 서비스</span>
    </a>
    <a>
        <span class="message-text best">IKEA 베스트셀러</span>
    </a>
    </div>
</div> <!--상단-->
<div class="left-nav">
<div id ="nav"> <!--navbar-->
    <p class="nav-text" style="color: black; font-size: 35px;"><a href="#">모든 제품</a></p>
    <p class="nav-text" style="color: black; font-size: 35px;"><a href="#">디지털 쇼룸</a></p>
    <p class="nav-text"><a>할인중</a></p>
    <p class="nav-text"><a>신제품</a></p>
    <p class="nav-text"><a>더 낮은 새로운 가격</a></p>
    <p class="nav-text"><a>아이디어</a></p>
    <p class="nav-text"><a>IKEA Live</a></p>
    <p class="nav-text"><a>새로운 소식</a></p>
    <br>
    <p class="small-text"><a>매장안내</a></p>
    <p class="small-text"><a>IKEA Family</a></p>
    <p class="small-text"><a>고객지원</a></p>
    <p class="small-text"><a>배송조회</a></p>
    <p class="small-text"><a>내 프로필</a></p>
</div>
</div>
</body>

</html>