<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/login.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">

    <title>로그인 </title>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
        alert("{{messages[-1]}}")
    </script>
    {% endif %}
    {% endwith %}

<a href="/">
    <svg class="back" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
    </svg>
</a>
<div class="left">
    <div>
        <img src="https://kr.accounts.ikea.com/resources/static/logo.svg" class="logo">
    </div>
    <div>
        <h1>로그인</h1>
        <div class="login_ment">
            <p>외워야 할 비밀번호가 많아 불편하셨죠?<br>
                이제 일회용 코드를 이용하여 간편하게 로그인하세요.</p>
            <p>* 이메일 또는 휴대폰 번호 최초 인증 후 사용 가능</p>
        </div>
    </div>
    <div class="left-foot">
        <p>IKEA.kr - <a href="https://www.ikea.com/kr/ko/customer-service/privacy-policy/" class="policy"
                        target="_blank"> 개인정보처리방침</a><br>
            © Inter IKEA Systems B.V. 1999-2021</p>
    </div>
</div>
<div class="right">
    <form method="post" action="/login" class="loginform">
        <div>
            <div class="inputbox">
                <input type="text" autocomplete="none" onclick="inputid()" id="email" name="email">
                <span class="small">이메일</span>
                <p class="filed" id="chkid">이메일을 입력해주세요.</p>
            </div>
        </div>
        <div>
            <div class="inputbox">
                <input type="password" autocomplete="none" onclick="inputpw()" id="pw" name="pw">
                <span class="small">비밀번호</span>
                <button class="pw_svg" type="button">
                    <svg class="showpw" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg" onclick="showpw()">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
                    </svg>
                    <svg class="dontshowpw pw_svg" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg" onclick="dontshowpw()">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"></path>
                    </svg>
                </button>
                <p class="filed" id="chkpw">비밀번호를 입력해 주세요.</p>
            </div>
            <p class="option plus">비밀번호 찾기</p>
        </div>
        <div>
            <button type="submit" class="login_btn"><span class="font">로그인</span></button>
            <button class="letin_btn" onclick="location.href='/register'" type="button"><span class="font">회원가입</span></button>
        </div>
    </form>
</div>
<script>
    // 필드값 각각 필수 입력
    function inputid() {
        let info = $('#email').val()
        if (info == '') {
            $('#chkid').show()
        }
    }

    function inputpw() {
        let info = $('#pw').val()
        if (info == '') {
            $('#chkpw').show()
        }
    }

    $(function () {
        $(document).mousedown(function (e) {
            $('p[class=filed]').hide()
        });
    })

    //비밀번호 보이고 숨기기
    function showpw() {
        if ($('.dontshowpw').css('display') == 'none') {
            $('.dontshowpw').show()
            $('.showpw').hide()
            $('#pw').attr('type', 'text')
        }
    }

    function dontshowpw() {
        if ($('.showpw').css('display') == 'none') {
            $('.showpw').show()
            $('.dontshowpw').hide()
            $('#pw').attr('type', 'password')
        }
    }

</script>
</body>

</html>